/* Identifying Colors */
:root{
    --light: #dbd2cd;
    --white: #ececea;
    --dark: #01161c;
    --primary: #475a78;
    --secondary: #d6a141;
    --info: #ffcd22;
    --accent1: #272527;
    --accent2: #686d93;
    --accent3: #929ea4;
    --font1: Helvetica;
}
body{
    background-color: var(--white);
    margin:0;
    padding:0;
    border:0;
}

.menuTitle{
    padding:10px;
    text-align: center;
    font-size: 48px;
    font-family: var(--font1);
    color:var(--primary)
}

.footer{
    position: absolute;
    bottom:0;
    padding-top:5px;
    padding-bottom:5px;
    background-color: var(--dark);
    text-align:center;
    color:#F5F2EF;
    width:100%;
    font-family: var(--font1);
  }